
.css-view-1dbjc4n {
    display: inline-flex !important;
  }
  
  .r-overflow-1udh08x{
    background-color: #9caeb6 !important;
  }
  
  .r-flex-13awgt0{
    background-color: rgb(255, 255, 255) !important;
  }
  
  .css-cursor-18t94o4 {
    background-color: #9caeb6 !important;
  }
  .r-borderRadius-1jkafct {
    border-radius: 60px;
  }
  